<!DOCTYPE html>
<html>
<head>
  <title>Onepx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%- if identity_signed_in? %>
    <div id='user'>
      <span>Hola ! <%= current_identity.email %> | </span>
      <%= link_to 'Cerrar Sesión', log_out_path, method: :delete, confirm: 'Estás seguro de querer cerrar tu sesión?' %>
    </div>
  <% end %>

  <div id='flash'>
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
